# Database
DB_NAME=stack_db
DB_USER=stack_user
DB_PASSWORD=stack_password_dev
DB_HOST=postgres
DB_PORT=5432

# Django
DJANGO_SECRET_KEY=django-insecure-dev-key-change-in-production
DEBUG=True

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8200

# Google Auth
GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Ports
BACKEND_PORT=8200
FRONTEND_PORT=3200
POSTGRES_PORT=5434
